<script>
  $(document).ready(function(){
    $(document).on('click', '.edit-thing', function(){
      var id = $(this).attr('name');
      $('#'+id).attr('readonly', false);
      $(this).toggleClass('edit-thing validate-thing');
      $(this).children('.glyphicon').toggleClass('glyphicon-pencil glyphicon-floppy-disk');
    });

    $(document).on('click', '.validate-thing', function(){
      var id = $(this).attr('name');
      $('#'+id).attr('readonly', true);
      if (id=="name"){
        var data = {name: $('#name').val()};
      }else{
        var data = {content: $('#content').val()};
      }
      var that = this;
      $.ajax({
        method: 'PATCH',
        url: '/blogs/<%= @blog.id%>.json',
        data: {blog: data }
      }).success(function(){
        $(that).toggleClass('edit-thing validate-thing');
        $(that).children('.glyphicon').toggleClass('glyphicon-pencil glyphicon-floppy-disk');
      });
    });

    $(".switch-actif").click(function(){
      var that = this;
      $.ajax({
        url: "/blogs/<%= @blog.id %>/posts/"+this.id+"/toggle_active",
      }).done(function() {
        $( that ).toggleClass( "glyphicon-check glyphicon-unchecked" );
      });
    });

  });
</script>

<div class="centered">
<p id="notice"><%= notice %></p>

<h1>Blog du camp <%= @blog.camp.name %></h1>

<div class="container-fluid spaced-rows">
  <div class="row">
    <label class="control-label col-sm-3 font-bold">URL du blog</label>
    <div class="col-sm-8">
      <input type="text" value="<%= @blogs_url%><%= @blog.url %>" class="form-control cursor-default" readonly>
    </div>
    <a class="col-sm-1 btn btn-default" href="<%= @blogs_url%><%= @blog.url %>" target="_blank">
      <span class="glyphicon glyphicon-eye-open"></span>
    </a>
  </div>

  <div class="row">
    <label class="control-label col-sm-3">Titre</label>
    <div class="col-sm-8">
      <input type="text" value="<%= @blog.name %>" id="name" class="form-control cursor-default" readonly>  
    </div>
    <a class="col-sm-1 btn btn-default edit-thing" name="name">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>

  <div class="row">
    <label class="control-label col-sm-3" for="blog_name">Texte d'introduction</label>
    <div class="col-sm-8">
      <textarea type="text" id="content" class="form-control cursor-default" rows="10" readonly ><%= @blog.content %></textarea>
    </div>
    <a class="col-sm-1 btn btn-default edit-thing" name="content">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>

  <h2>Liste des posts</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Online</th>
        <th>Date</th>
        <th>Titre</th>
        <th>Images</th>
        <th>Vues</th>
        <th>Edition</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <span id="<%= post.id %>" class="switch-actif glyphicon <%= post.active ? 'glyphicon-check' : 'glyphicon-unchecked' %> is-clickable"></span>
          </td>
          <td><%= post.date %></td>
          <td><%= post.title %></td>
          <td><%= post.images.length %></td>
          <td><%= post.views %></td>
          <td>
            <%= link_to edit_blog_post_path(@blog, post), class: "btn btn-default", title: "Editer" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <% #= link_to blog_post_path(@blog, post), method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-default", title: "Supprimer" do %>
            <% #  <span class="glyphicon glyphicon-trash"></span> %>
            <% #end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to new_blog_post_path(@blog), class: "btn btn-default" do %>
    Nouveau post
  <% end %>


</div>
</div>
