<script>
  $(document).ready(function(){
    $(".delete-cross").click(function(){
      if (confirm("Etes-vous sûr de vouloir supprimer cette image ?")){
        var that = this;
        $.ajax({
          method: "delete",
          url: "/blogs/<%= @blog.id %>/posts/<%= @post.id %>/images/"+this.id,
        }).done(function() {
          $(that).parent().remove()
        });
      }
    });
  });
</script>
<%= bootstrap_form_for(@post, url: @url, layout: :horizontal, multipart: true, label_col: "col-sm-2", control_col: "col-sm-8") do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :date, value: @post.date||@placeholder_date %>
  <%= f.text_field :title, label: "Titre" %>
  <%= f.text_area :content, label: "Texte", rows: "10" %>
  <% if @post.images.length > 0 %>
  <div class="form-group">
    <label class="control-label col-sm-2">Images</label>
    <div class="col-sm-8">
      <% @post.images.each do |image| %>
        <div class="col-sm-6 margin-bottom-10">
          <%= image_tag("posts/#{@post.id}/#{image.file}", class: "small-img") %>
          <a class="delete-cross" id="<%= image.id %>" >x</a>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= f.file_field :images, label: "Images", hide_label: @post.images.length>0, multiple: true %>
  <%= f.form_group do %>
    <%= f.submit value: @cta, class: "btn btn-default col-sm-4" %>
  <% end %>

<% end %>
